@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

pallete {
  fg: "#E5E9F0"
    bg: "#232731"
    error_red: "#F44747"
    red: "#BF616A"
    green: "#A3BE8C"
    light_green: "#B5CEA8"
    yellow: "#EBCB8B"
    dark_yellow: "#D7BA7D"
    orange: "#D08770"
    blue: "#5E81AC"
    light_blue: "#88C0D0"
    vivid_blue: "#81A1C1"
    purple: "#B48EAD"
    cyan: "#8FBCBB"
    white: "#D8DEE9"
    black: "#232731"
    line_grey: "#5C6370"
    gutter_fg_grey: "#4B5263"
    cursor_grey: "#2C323C"
    visual_grey: "#4C566A"
    menu_grey: "#282C34"
    special_grey: "#3B4048"
    vertsplit: "#2E3440"
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #232731;
  color: #E5E9F0;
  line-height: 1.2;
}

.container {
  width: 85%;
  margin: auto;
}

header {
  border-bottom: 1px solid #E5E9F0;
}

.tables {
  border-bottom: 1px solid #E5E9F0;
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  width: 90%;
  box-shadow: 0 0 20px #E5E9F055;
  width: 100%;
}

table caption {
  padding: 12px 15px;
  color: #232731;
  background-color: #D8DEE9DD;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

thead tr {
  text-align: left;
  color: #232731;
  background-color: #8FBCBB;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

/* table td:last-of-type {
  border-left: 1px solid #5C6370;
} */
tbody tr {
  border-bottom: 1px solid #5C6370;
  background-color: #4C566A55;
}

tbody tr:nth-of-type(even) {
  background-color: #4C566A77;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #8FBCBB;
}

tfoot {
  background-color: #4C566A44;
}

tfoot tr td {
  padding: 4px 4px;
}

ul {
  padding-left: 0;
}

/* MEDIA */
@media only screen and (max-width: 1431px) {
  .tables {
    flex-direction: column;
  }
}

@media only screen and (max-width: 464px) {
  body {
    font-size: 14px;
  }

  table th,
  table td {
    padding: 8px 4px;
  }
}
